    @font-face {
        font-family: Plaster;
        src: url(./Plaster-Regular.ttf);
    }
    @font-face {
        font-family: cocogoose;
        src: url(./Cocogoose-Narrow-Ultralight-trial.ttf);
    }
    .img1 {
        height: 100vh;
        width: 50vw;
        margin-left: 2vh;
    }
   .bgcolour {
    background-color: lavender;
   }
   .font1 {
    font-family: Plaster;
    font-size: 600%;
    margin-top: 1vh;
    margin-left: 12vh;
   }
   .font2 {
    font-family: cocogoose;
    font-size: 100%;
    color: lavender;
    margin-top: 20vh;
    margin-left: 32vh;
   }
   .font3 {
    font-family: cocogoose;
    font-size: 100%;
    color: lavender;
    margin-left: 27vh;
   }
