
    @font-face {
        font-family: Plaster;
        src: url(./Plaster-Regular.ttf);
    }
    @font-face {
        font-family: cocogoose;
        src: url(./Cocogoose-Narrow-Ultralight-trial.ttf);
    }
    .bgcolour {background-color: lavender;}
    .font1 {
    font-family: Plaster;
    font-size: 600%;
    margin-top: 5vh;
    margin-left: 50vh;
    }
    .font2 {
    font-family: cocogoose;
    font-size: 100%;
    color: lavender;
    margin-top: 30vh;
    margin-left: 65vh;
    }
.imgfullsize {
    height: 100vh;
    width: 100vw;
}
.font1 {
    font-family: Plaster;
    font-size: 600%;
    margin-top: 5vh;
    margin-left: 55vh;
    }
    .imgfullsize {
        height: 70vh;
        width: 30vw;
       }
       .imgfullsize2 {
        height: 70vh;
        width: 100vw;
       }
       .font2 {
        font-family: cocogoose;
        font-size: 100%;
        color: lavender;
        margin-top: 30vh;
        margin-left: 60vh;
        }
        .imgfullsize {
            height: 100vh;
            width: 100vw;
        }

